<link rel="stylesheet" href="./home.component.css" />

<section>
  <h1>What would you like to eat? <br><br> View our menu below</h1>
    <br>
  <a href="#card_container">&dArr;&dArr;</a>
</section>

<div class="card_container" id="card_container">
  <mat-spinner *ngIf="products.length === 0"></mat-spinner>
  <mat-card *ngFor="let product of products">
    
    <mat-card-content>
      <img
        src="{{ product.imageUrl }}"
        alt=""
      />
      <p>{{ product.description }}</p>
    </mat-card-content>
    
    <mat-card-header>
      <mat-card-title>{{ product.name }}</mat-card-title>
      <mat-card-subtitle>
        $/{{ product.price }} {{ product.quantity }}
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-actions>
      <button mat-stroked-button color="accent" routerLink="/details/{{product.id}}">Buy Meal</button> 
    </mat-card-actions>
  </mat-card>
</div>
